<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" class="form-control">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>modelo</label>
      <input name="modelo" #modelo="ngModel" [(ngModel)]="service.formData.modelo" class="form-control" required>
    </div>
    <div class="form-group col-md-3">
      <label>marca</label>
      <input name="marca" #renavam="ngModel" [(ngModel)]="service.formData.marca" class="form-control" required>
    </div>
    <div class="form-group col-md-3">
      <label>Placa</label>
      <input name="placa" #placa="ngModel" [(ngModel)]="service.formData.placa" class="form-control" required>
      <div class="validation-error" *ngIf="placa.invalid && placa.touched">Campo Obrigatorio</div>
    </div>
    <div class="form-group col-md-3">
      <label>ano</label>
      <input name="ano" #renavam="ngModel" [(ngModel)]="service.formData.ano" class="form-control" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Chassi</label>
      <input name="chassi" #chassi="ngModel" [(ngModel)]="service.formData.chassi" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label>renavam</label>
      <input name="renavam" #renavam="ngModel" [(ngModel)]="service.formData.renavam" class="form-control" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">

    </div>
    <div class="form-group col-md-4">
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>
  </div>
</form>